<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="auth-container">
    <h1>Login</h1>
    <form action="/login" th:action="@{/login}" method="post" class="auth-form">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>

        <button type="submit">Login</button>
    </form>
    <a href="/register" class="auth-link">Register Here</a>
</div>
</body>
</html>